.section.is-skewed-sm {
  transform:skew(0deg, -3deg) translate(0, -45px);padding-top:140px
}

.section .container.is-reverse-skewed-sm {
  transform:skew(0deg, 3deg) translate(0, 45px)
}

.section .container.slanted-container {
  margin-top:-100px
}

.section-title-wrapper {
  position: relative;
  padding: 40px 20px;
}

.section .section-title-wrapper .bg-number,
.section .section-title-wrapper .bg-symbol {
  position: absolute;
  text-align: center;
  font-weight: bolder;
  top: -18px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 160px;
  z-index: 0;
  opacity: 0.1;
  color: #999;
  width: 160px;
  height: 160px;
  line-height: 160px;
}

.section .section-title-wrapper .bg-number .material-icons,
.section .section-title-wrapper .bg-symbol .material-icons {
  font-size: 12rem;
}

.section .section-title-wrapper .top-subtitle {
  text-transform: uppercase;
  color: #00b289;
  font-family: 'Nexa Light', sans-serif;
  font-weight: 700;
  font-size: 1.05rem;
}

.section .section-title-wrapper .icon-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section .section-title-wrapper .icon-subtitle.is-one i {
  margin: 10px 5px 0;
  font-size: 2.2rem;
  color: #00b289;
}

.section .section-title-wrapper .icon-subtitle.is-many i {
  margin: 10px 5px 0;
  font-size: 1.4rem;
  color: #00b289;
}
