.subtitle {
  color: #0a0a0a;
}

.footer {
  background-color: #F5F9FC;
  padding: 3rem 1.5rem 3rem;
}

.footer ul li a {
  color: #0a0a0a;
}

.footer ul li a:hover {
  color: #303030;
}

@media screen and (min-width: 1024px) {
  .navbar {
    min-height: 5.25rem;
  }
}
